* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(https://github.com/fred0128/desktop-template-1.4/blob/main/images/main.png?raw=true);
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

.container-effects {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.absolute-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
}

.abs-cions-top-left {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.other-icon {
    width: 5vh;
    height: 5vh;
    aspect-ratio: 1/1;
    padding: 1vh;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    background-color: #fff;
    color: #b43f35;
}

.dark-mode {
    width: 5vh;
    height: 5vh;
    aspect-ratio: 1/1;
    padding: 1vh;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    background-color: #b43f35;
}

.top-right {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.clock {
    color: #fff;
    letter-spacing: 4px;
}

#battery-bars {
    width: 80px;
    display: flex;
    gap: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border: 1px solid #ffffff40;
    backdrop-filter: blur(10px);
    border-radius: 2px;
    align-items: center;
}

.battery-bar {
    width: 4px;
    height: 20px;
    background-color: #b43f35;
    display: inline-block;
    border-radius: 4px;
}

#battery-bars:hover+.battery-info {
    display: flex;
}

.battery-info {
    position: absolute;
    margin-top: 15px;
    right: 0px;
    width: 203px;
    height: auto;
    background-color: #00000060;
    color: #ffffff;
    border: 1px solid #ffffff40;
    backdrop-filter: blur(20px);
    border-radius: 6px;
    padding: 6px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.battery-percentage {
    font-size: 32px;
}

.battery-percentage-item {
    font-size: 22px;
}

.setting-box {
    position: absolute;
    bottom: 25px;
    left: 25px;
    max-width: 50px;
    width: 6vh;
    padding: 1.6vh;
    background-color: #b43f35;
    border-radius: 50%;
    color: #fff;
}

.setting-box svg {
    width: 100%;
    aspect-ratio: 1/1;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    max-width: 600px;
    min-width: 200px;
}

.logo-box {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 28px;
    gap: 20px;
    margin-bottom: 10px;
}

.logo-box img {
    width: 50px;
}

.search-box {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 25px #ffffff40;
}

.search-box #search {
    width: 85%;
    height: 50px;
    padding: 10px 18px;
    outline: none;
    border-radius: 40px 0 0 40px;
    border: none;
    font-size: 20px;
}

.search-box #search::placeholder {
    text-align: center;
    font-size: 20px;
    padding: 0 0 0 20%;
    transition: .2s all ease;
    position: relative;
    left: 2px;
}

.search-box #search::placeholder {
    user-select: none;
}

.search-box #search:focus::placeholder {
    padding: unset;
    text-align: start;
}

.search-box button {
    width: 15%;
    height: 100%;
    aspect-ratio: 1/1;
    outline: none;
}

.search-box button[type="reset"] {
    border: none;
    outline: none;
    background-color: #fff;
}

.search-box button[type="submit"] {
    height: 101%;
    border-radius: 0 40px 40px 0;
    background-color: #b43f35;
    border: none;
}

.search-box button svg {
    width: 20px;
    height: 80%;
    aspect-ratio: 1/1;
}

.button-box {
    display: flex;
    gap: 25px;
    z-index: 2;
}

.button-box a {
    aspect-ratio: 1/1;
    text-decoration: none;
    max-width: 44px;
}

.button-box svg {
    width: 28px;
}

.button-box .button-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.button-box .button-item i {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-box .button-item {
    font-weight: 200;
    color: #ffffffaa;
    font-size: 13px;
    transition: .1s all ease-in-out;
}

.button-box button {
    width: 44px;
    aspect-ratio: 1/1;
    padding: 6px;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.button-box button img {
    width: 32px;
}

.button-box .btn-box-f {
    background-color: #fff;
}

.calendar-box-img {
    max-width: 26px;
}

.map-box-img {
    max-width: 22px;
    height: 30px;
}

.menu-opener {
    min-width: 0px;
    max-width: 400px;
    width: 0%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    z-index: 1;
    transition: .2s all ease-in-out;
}

.menu-opener:has(#right-arrow-ch:checked) {
    min-width: 200px;
    width: 20%;
}

.menu-opener:has(#right-arrow-ch:checked)>.open-menu {
    width: 100%;
    opacity: 1;
}

.open-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in-out;
}

.open-menu-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.open-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    transition: .2s all ease-out;
}

.open-menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.open-menu ul li a {
    width: 400px;
    max-height: 40px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.open-menu ul li p {
    font-size: 2px;
    color: transparent;
    transition: .15s all ease-in-out;
}

.open-menu ul li:hover>p {
    display: block;
    font-size: 26px;
    opacity: 1;
    color: #fff;
}

.open-menu-bottom {
    width: 50px;
    border-radius: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
    padding: unset;
    background-color: #fff;
}

.open-menu-bottom svg {
    width: 40px;
    stroke: #b43f35;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
}

.open-menu-bottom svg path {
    stroke: #b43f35;
}

.menu-opener input[type="checkbox"] {
    display: block;
    visibility: hidden;
}

.menu-opener input[type="checkbox"]:checked~.open-menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.menu-opener input[type="checkbox"]:checked~label {
    right: 100%;
}

.menu-opener label {
    position: relative;
    transition: .2s all ease-in-out;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff10;
    padding: 20px;
}

.right-arrow-open {
    border-right: 1px solid #040505;
    transform: translateX(11px);
}

.menu-opener input[type="checkbox"]:checked~.right-arrow-open {
    transform: rotateY(180deg);
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.menu-opener label {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    font-size: 28px;
}

.right-arrow-ch {
    position: absolute;
}

.right-arrow {
    width: 22px;
    aspect-ratio: 1/1;
    border: none;
    border-top: 4px dotted #fff;
    border-left: 4px dotted #fff;
    transform: rotate(-45deg);
    background-color: transparent;
    outline: none;
}

.top-right-clock {
    color: #fff;
    border: 1px solid #ffffff40;
    backdrop-filter: blur(10px);
    padding: 10px;
    letter-spacing: 2px;
}

#battery-indicator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#mydiv {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 300px;
    z-index: 9;
    background-color: #222;
    background-color: #222;
    color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    padding: 10px 0 10px 0;
    /*delete display: none;*/
    display: none;
}

#mydivheader {
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px 6px;
    border-radius: 10px 10px 6px 6px;
    width: 95%;
}

.save-box-main {
    width: 95%;
    height: 90%;
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 6px 6px 10px 10px;
}

.save-box-main a {
    color: #fff;
    text-decoration: none;
}

.ip-box {
    z-index: 1;
    width: 50%;
    min-width: 440px;
    max-width: 500px;
    background-color: #00000080;
    color: #fff;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 35px 50px 25px 50px;
    border-radius: 10px;
    border: 1px solid #aac;
    display: none;
    backdrop-filter: blur(10px);
}

.ip-box:has(#ip-show:checked) {
    display: flex;
}

.user-ip {
    font-size: 16px;
    font-weight: 500;
}

#ip-show {
    display: none;
    visibility: hidden;
}

.ip-show-box {
    z-index: 1;
    background-color: #00000080;
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    border: 1px solid #aac;
}

.ip-show-box svg {
    width: 30px;
}

.ip-close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.ip-close svg {
    width: 24px;
}